@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

:root {
  --white: #ffffff;
  --black: #000000;
  --black-45: #616161;
  --black-30: #4d4d4d;
  --black-15: #262626;
  --blue: #0099ff;
  --gray: #aaaaaa;
}

* {
  margin: 0;
  font-family: Roboto-Regular;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--white);
}

/* HEADER CONTENT */
#masterheader-container {
  display: flex;
  padding: 0px 15px;
  width: 100%;
  background-color: var(--black);
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  line-height: 50px;
  position: fixed;
}

#content-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#content-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#content-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#icon {
  margin-right: 10px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#icon:hover {
  background-color: var(--black-15);
  border-radius: 50%;
}

#icon:active {
  background-color: var(--black-30);
  border-radius: 50%;
}

#tube_name {
  text-decoration: none;
}

#input_text {
  padding: 10px;
  padding-left: 10px;
  border: 1px solid var(--black-30);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 500px;
  background-color: var(--black);
  outline: none;
}

#icon_input_text {
  display: none;
  height: 43px;
  align-items: center;
  justify-content: center;
  width: 43px;
  border: 1px solid var(--blue);
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: none;
}

#input_text[type="text"]:focus #icon_input_text {
  display: inline;
}

#input_text[type="text"]:focus {
  border: 1px solid var(--blue);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: none;
}

#icon_input_text_active {
  display: flex;
  height: 43px;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  padding-right: 30px;
  width: 43px;
  border: 1px solid var(--black-30);
  background-color: var(--black-30);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

#voice_icon {
  margin-left: 10px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: pointer;
  background-color: var(--black-15);
  border-radius: 50%;
  transition: background-color 0.2s;
}

#voice_icon:hover {
  background-color: var(--black-30);
}

#voice_icon:active {
  background-color: var(--black-45);
}

#icon_avatar {
  margin-right: 10px;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  width: 40px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#icon_avatar:active {
  border: 1px solid var(--blue);
  border-radius: 50%;
}

/* ====================== */

/* SIDEBAR */
.sidebar {
  padding: 15px;
  margin-top: 50px;
  width: 250px;
  background-color: var(--black);
  height: 100%;
  position: fixed;
  overflow: hidden;
  top: 0;
  bottom: 0;
  display: inline;
}

.sidebar:hover {
  overflow-y: scroll;
}

.text_icon {
  padding-left: 20px;
  display: inline;
}

#active_sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  height: 48px;
  cursor: pointer;
  background-color: var(--black-15);
  border-radius: 10px;
  outline: 0;
  min-height: 48px;
}

#active_sidebar:hover {
  background-color: var(--black-30);
}

#non_active_sidebar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px;
  height: 48px;
  cursor: pointer;
  border-radius: 10px;
  outline: 0;
  min-height: 48px;
}

#non_active_sidebar:hover {
  background-color: var(--black-30);
}

hr {
  height: 2px;
  border-width: 0;
  color: gray;
  background-color: gray;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* ==================== */
/* Sidebar short */
.sidebar-short {
  padding: 10px;
  margin-top: 50px;
  width: 80px;
  background-color: var(--black);
  height: 100%;
  position: fixed;
  display: none;
}

.sidebar-short-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 0;
  padding: 16px 0 14px;
  cursor: pointer;
}
.sidebar-short-title {
  margin-top: 10px;
  font-size: 10px;
}

.sidebar-short-item:hover {
  border-radius: 10px;
  background-color: var(--black-15);
}
/* ==================== */

/* GRID VIDEOS CONTENT START FROM HERE */
#contents {
  background-color: var(--black);
  display: inline;
  position: fixed;
  top: 50px;
  left: 250px;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.card {
  /* Add shadows to create the "card" effect */
  margin-left: 15px;
  margin-bottom: 50px;
  /* width: 335px; */
  width: 390px;
  cursor: pointer;
}

.container_thumbnail {
  position: relative;
  text-align: center;
  color: white;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
}

/* Add some padding inside the card container */
.container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.icon_card {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.conatiner_texts {
  word-wrap: break-word;
  max-width: 320px;
  /* max-width: 260px; */
}

#title {
  color: var(--white);
  line-height: 22px;
  margin-bottom: 10px;
}

#author {
  color: var(--gray);
  font-size: 14px;
}

#ellipsis-icon {
  display: inline;
}

.bottom-right {
  background-color: var(--black);
  font-size: 16px;
  position: absolute;
  bottom: 8px;
  right: 16px;
  border: 1px solid var(--black);
  border-radius: 5px;
}

.video {
  display: none;
}

/* ===================================== */

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* ================= */
